<div ui-view ng-animate="'view'">
    <div class="row">
        <div class="pageHeader">
            <h1 class="pageHeader_title">About Us</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="zabatnyHome_section4">

                    <div class="col-md-12">
                        <h2 class="zabatnyHome_section4--title text-center">
                            Our Story 
                        </h2>
                    </div>
                    <div class="row" >
                        <div class="col-md-4">
                        <p style="color:#a8a8a8;line-height: 1.5;">Zabatnee is a joint venture company established in 2014 in accordance to law no. 8 for 1997 in
the Arab Republic of Egypt with an authorized capital of LE 2.5 MN EGP.
Zabatnee specializes in creating a turnkey platform that seamlessly integrates customers with
activity providers; one of its first products is called Zabatnee. </p>
                    </div>
                    <div class="col-md-4">
                        <p style="color:#a8a8a8;line-height: 1.5;">This is achieved by creating a holistic environment that facilitates creation of an efficient
marketplace that addresses stakeholders’ needs in a convenient, easy to use, secure and affordable
manner. </p>
                    </div>
                    <div class="col-md-4">
                        <p style="color:#a8a8a8;line-height: 1.5;">Zabatnee is reservation platform that manages and automates the reservation and back-office
processes of activity providers allowing them the capacity to better engage their customers. It is a
convenient tool for customers to access the various activities available in their communities. </p>
                    </div>
                        </div>
                </div>
            </div>
        </div>
    

        <div class="container">
            <div class="row">
                <div class="zabatnyTeam">
                    <h6>Our Team</h6>
                    <h2>Executive Team</h2>
                    <p>
Zabatnee is reservation platform that manages and automates the reservation and back-office processes of activity providers allowing them the capacity to better engage their customers. It is a convenient tool for customers to access the various activities available in their communities.</p>
                    <div class="col-md-4 zabatnyTeam_member">
                        <img class="img-responsive" src="assets/imgs/team/yousra.jpg" style="border-radius:5px;">
                        <h5 class="text-center">Yousra Mahdy</h5>
                        <p>Managing Director</p>
                        <p style="min-height: 100px;">A graduate of the Faculty of Alsun 2001.Yousra was a professional water ballet dancer.


                            <p id="content1" class="collapse">
                        Yousra’s career enjoys more than Eight years of experience in multinationals spanning the petroleum and pharmaceutical sector. During her tenure she performed a multitude of administrative and logistics tasks, organized corporate events and managed small task force aimed at handling customized service requests. <br><br>
                        From there Yousra shifted focus to the telecommunications sector in 2012 where she worked on developing company processes gradually shifting her way into business development studying the market and seeking potential opportunities for value added services. Yousra currently is Co-founder in iReserve, a startup company that owns and operates the Zabatnee Platform 
                        <br><br>
                        From there Yousra shifted focus to the telecommunications sector in 2012 where she worked on developing company processes gradually shifting her way into business development studying the market and seeking potential opportunities for value added services. Yousra currently is Co-founder in iReserve, a startup company that owns and operates the Zabatnee Platform
                        </p>
                        <p style="text-align: center;">
                         <a data-toggle="collapse" data-target="#content1" style="text-align: center;">Show More</a>
                         <p>
                         </p>
                        
                        
                        
                    </div><div class="col-md-4 zabatnyTeam_member">
                        <img class="img-responsive" src="assets/imgs/team/fadi.jpg" style="border-radius:5px;">
                        <h5 class="text-center">Fadi Jundi</h5>
                        <p> Board Member</p>
                        <p style="min-height: 100px;">
Fadi has over 18 years of experience in overseeing ISPs and greenfield IT projects, managing their operations, path to profitability and eventual strategic exit.

                            <p id="content2" class="collapse">
                        He has carried out extensive research on the impact of information & communication technologies on labor input in Egypt. Fadi has held several key positions managing dot com startups, content & e-commerce portals, and high speed internet access provisioning.<br><br>
Fadi oversaw the acquisition of TheWayOut HSIA arm by British Morgane and managed the acquisition of the WiFi local Hotspots in Egypt by Orascom Telecom. He currently oversees NOOR, one of Egypt’s prominent ISPs. His education and experience provides him with the entrepreneurial fluidity needed to successfully manage emerging companies. He serves as an Advisory Board Member for several start-ups in Egypt’s               
<br><br>
                       - Master of Arts in Economics, American University in Cairo in 2007. 
                    
                       <br>- Bachelor of Arts in Economics, American University in Cairo in 1995. 
                 
                       <br>- Bachelor of Science in Chemistry, American University in Cairo in 1995. 
                      
                      <br>- Minor Nuclear and Quantum Physics. 

                      <br>- PMP Certified.


                        </p>
                        <p style="text-align: center;">
                         <a data-toggle="collapse" data-target="#content2" style="text-align: center;">Show More</a>
                         <p>
                         </p>
                        
                    </div><div class="col-md-4 zabatnyTeam_member">
                        <img class="img-responsive" src="assets/imgs/team/basel.jpg" style="border-radius:5px;">
                        <h5 class="text-center">Dr. Basel Daloul</h5>
                        <p>Chairman</p>
                        <p style="min-height: 100px;">Dr. Basel Dalloul is a recognized authority in IT in the region, founder and Chairman of NOOR Group

                            <p id="content3" class="collapse">
                       he was the first to introduce the free internet dialup service in the region targeting the consumer market and the first in the region to introduce MPLS connectivity service targeting corporates growing into one of the company into one of the prominent ISPs in Egypt. Prior to that he founded Magnet Interactive Group, Inc., a pioneer in web design and interactive multi-media applications, and one of the largest, most successful firms in its field catering to fortune 500 companies.<br><br>
                       Under Basel's direction, Magnet provided multi-media services and Web solutions to Microsoft, America Online, IBM, Mercedes-Benz North America, Nissan, Harvard Business School, Eastman Kodak, Bayer, Kellogg's, M&M/Mars, Citibank, Bank of America, Twentieth-Century Fox, MCA/Universal Studios, Discovery Network, Time-Warner, The Vatican, and SABIC (Saudi Basic Industries Corporation), among others.
                       <br>
                       <br>
                       - Juris Doctor of Business Administration, Georgetown. 
                    
                       <br>- Masters in Business Administration, Georgetown.  
                 
                       <br>- Bachelor of Science, American University of Beirut.
                      
                     
                  
                        </p>
                        <p style="text-align: center;">

                         <a data-toggle="collapse" data-target="#content3" style="text-align: center;">Show More</a><br>
                         
                         <p>
                         </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

