<div ui-view ng-animate="'view'">
    <div class="row">
        <div class="zabatnyContact">
            <div class="col-md-8 col-md-offset-2 zabatnyContact_content">
                <div class="row">
                    <img class="contactMap" src="assets/imgs/map.png">
                        <div class="col-md-6 zabatnyContact_form">
                            <h4 style="color:#e8266f;">Our Address</h4>
                            <h6 style="color:#6b6b6b;font-weight: bold;">
                                <a href="https://goo.gl/maps/EQqxSwkrtSC2" style="text-decoration:none;color:#6b6b6b">
                                    <b>City Stars Complex</b>
                                    <br> Star Capital 5 Omar Ibn ElKhatab St.
                                        <br> 7th Floor,
Heliopolis,
                                            <br> Cairo, Egypt. 
                                            </h6>
                                            <h6 style="color:#6b6b6b;font-weight: bold;margin-bottom:50px;">
                                                <a href="tel:16456
" style="text-decoration:none;color:#6b6b6b;font-weight: bold;">
                                                    <b style="color:#e8266f;">Hotline: </b> 16456

                                                </a>
                                            </h6>
                                            <hr>
                                                <h4>Hey Guys, What’s Up!!! </h4>
                                                <form>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Full Name">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" placeholder="Email">
                                                                <i class="fa fa-envelope-o"></i>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Phone Number">
                                                                    <i class="fa fa-mobile"></i>
                                                                </div>
                                                                <h6 class="contactMessage">Your Message</h6>
                                                                <div class="form-group">
                                                                    <textarea class="form-control" placeholder="Message"></textarea>
                                                                </div>
                                                                <button type="submit" class="btn zabatnyBtn">Submit</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>