<div ui-view ng-animate="'view'">
    <div class="row">

        <div class="pageHeader pageHeader2 text-center">
            <h1 class="pageHeader_title animated fadeInDown">Business Solution </h1>
            <p class="animated fadeInDown">If you want to manage your business efficiently you are at the right place </p>
            <div class="col-md-8 col-md-offset-2">
                <img class="img-responsive animated fadeInUp" src="assets/imgs/macbook.png">

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="zabatnyHome_section4">
                    <div class="col-md-5 text-center">
                        <img class="img-responsive" src="assets/imgs/operations.jpg">
                    </div>
                    <div class="col-md-7">
                        <h2 class="zabatnyHome_section4--title">
                            Operations
                        </h2>
                        <ul class="zabatnyHome_section4--list">
                            <li>Avoid busy phones, long waiting times on hold and human errors. 
                            </li>
                            <li>Centralized repository for all bookings (online, walk-in and phone). </li>
                            <li>Provide reservation confirmations & notifications. </li>
                            <li>Customers can easily make reservation 24/7.</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="zabatnyHome_section4">
                    <div class="col-md-7">
                        <h2 class="zabatnyHome_section4--title">
                            Marketing
                        </h2>
                        <ul class="zabatnyHome_section4--list">
                            <li>Build customers database (profiles, contact info, photos, notes). 
                            </li>
                            <li>Identify VIPs and track visit history. </li>
                            <li>Promote special events and non-peak hours & days. </li>
                            <li>Enhance online visibility & increase booking opportunities. </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="img-responsive" src="assets/imgs/Marketing.jpg">
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="zabatnyHome_section4">
                    <div class="col-md-5 text-center">
                        <img class="img-responsive" src="assets/imgs/payment.jpg">
                    </div>
                    <div class="col-md-7">
                        <h2 class="zabatnyHome_section4--title">
                            Payment 
                        </h2>
                        <ul class="zabatnyHome_section4--list">
                            <li>Provide credit card based online booking options. 
                            </li>
                            <li>Reduce no shows & cancelations by collecting deposits. </li>
                            <li>Support special events & large groups online ticketing. </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="zabatnyHome_section4">

                    <div class="col-md-7">
                        <h2 class="zabatnyHome_section4--title">
                            Accessibility
                        </h2>
                        <ul class="zabatnyHome_section4--list">
                            <li>Manage your business from a single device. 

                            </li>
                            <li>Offer real time seating availability.</li>
                            <li>Benefit from utilization & performance Reports. </li>

                        </ul>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="img-responsive" src="assets/imgs/access.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="videoSection">
            <h2>your activity here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
            <div class="videoSection_link text-center">
                <a href="#"><img ng-src="assets/imgs/icons/video.png"></a>
            </div>
        </div>
        <!--
        <div class="container">
            <div class="row">
                <div class="zabatnyHome_section4">
                    <div class="carousel slide testimonialsCarouse" data-ride="carousel">
                       
                        <ol class="carousel-indicators">
                            <li data-target=".testimonialsCarouse" data-slide-to="0" class="active"></li>
                            <li data-target=".testimonialsCarouse" data-slide-to="1"></li>
                            <li data-target=".testimonialsCarouse" data-slide-to="2"></li>
                        </ol>

                       
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="testimonialsCarouse_item">
                                            <div class="testimonialsCarouse_itemImg text-center">
                                                <img src="assets/imgs/testim.png">
                                            </div>
                                            <div class="testimonialsCarouse_itemMeta text-center">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard</p>
                                                <div class="testimonialsCarouse_itemRating rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="container">
            <div class="row">
                <div class="zabatnyHome_section4">
                    <h1 class="getInTouch_title">
                        Get in Touch
                        <span></span>
                    </h1>
                    <h5 class="getInTouch_subTitle">FEEL FREE TO CONTACT US</h5>
                    <form class="getInTouch_form" action="" method="post">
                        <div class="col-md-4 form-group">
                            <input name="name" placeholder="Name" class="form-control" type="text" required>
                        </div>
                        <div class="col-md-4 form-group">
                            <input name="email" placeholder="Email" class="form-control" type="email" required>
                        </div>
                        <div class="col-md-4 form-group">
                            <input name="subject" placeholder="Phone" class="form-control" type="text" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea name="message" id="message" class="form-control" placeholder="Message"
                                      required></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <p>Once we receive your message we will respond as soon as possible.</p>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn zabatnyBtn">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>